body {
    background-image: url("/images/background.jpg");
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-color: #cccccc;
}

.title {
    position: absolute;
    top: 350px;
    left: 550px;
    font-size: 50px;
    color: white;
}

.myButton {
    position: absolute;
    top: 450px;
    left: 600px;
	background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:23px;
	padding:11px 28px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
	background-color:#5cbf2a;
}
